html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  background-color: lightseagreen;
}

#container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

#container h1 {
  font-size: 1.7em;
  line-height: normal;
  text-align: left;
  margin-bottom: 0.1em;
}

#container input,
#container textarea {
  font-size: 1.2em;
  line-height: normal;
  text-align: left;
  display: inline-block;
  margin-top: 1em;
  padding: 4px;

}
#container input[type="button"] {
  padding: 5px 10px;
  margin-right: 95px;
}


#container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
  box-sizing: content-box;
  border: thin solid #bababa;
  color: #404040;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  text-align: left;
  text-shadow: none;
  background: white;
  position: relative;
}
