<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="container">
            <h1>Convert decimal to Roman numeral</h1>
            <input type="text" name="romInput" id="romInput" value="I"/>
                <div id="buttons">
                    <input type="button" id="convertButton" value="Convert"/>
                    <input type="reset" id="resetButton" value="Reset"/>
                </div>
            <textarea name="decOutput" id="decOutput" cols="20" rows="1" readonly>1</textarea>
        </div>
    </body>
</html>