<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <form id="converter" action="/" method="POST">
            <script type=text/javascript src="{{url_for('static', filename='scripts/main.js')}}"></script>
            <div id="container">
                <h1>Roman to decimal or decimal to Roman converter</h1>
                <input type="text" name="Input" id="Input" placeholder="Enter roman or decimal value"/>
                    <div id="buttons">
                        <input type="button" id="convertButton" value="Convert"/>
                        <input type="reset" id="resetButton" value="Reset"/>
                    </div>
                <textarea name="Output" id="Output" cols="20" rows="1" placeholder="Result" readonly></textarea>
            </div>
        </form>
    </body>
</html>
